<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @tweet.user_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @tweet.content %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @tweet.photo %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @tweet.likes.count %>
</p>


<%like = @tweet.likes.where(user: current_user) %>
<% if like.present? %>
<%= link_to 'deslike', tweet_like_path(@tweet,like.first.id) , method: :delete, class:"btn-info px-5" %>
<% else %>
<%= link_to 'like', tweet_likes_path(@tweet,like), method: :post, class:"btn-info px-5" %>
<% end %>
<br>
<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>
